//文字顏色
.t-primary {
    color: $primary;
}

.t-secondary {
    color: $secondary;
}

.t-success {
    color: $success;
}

.t-info {
    color: $info;
}

.t-warning {
    color: $warning;
}

.t-danger {
    color: $danger;
}

.t-white {
    color: $white;
}

.t-black {
    color: $black;
}

.t-google {
    color: $google;
}

.t-twitter {
    color: $twitter;
}

.t-fb {
    color: $fb;
}

.t-statusline {
    color: $statusline;
}

//背景顏色
.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-success {
    background-color: $success;
}

.bg-info {
    background-color: $info;
}

.bg-warning {
    background-color: $warning;
}

.bg-danger {
    background-color: $danger;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-google {
    background-color: $google;
}

.bg-twitter {
    background-color: $twitter;
}

.bg-fb {
    background-color: $fb;
}

.bg-statusline {
    background-color: $statusline;
}