.register {
    .mail {
        top: 30px;
        left: 20px;
    }

    .password {
        top: 90px;
        left: 20px;
    }

    .password2 {
        top: 125px;
        left: 20px;
    }

    form {
        max-width: 620px;
    }
}