.footer {
    .information {
        width: 65%;

        @include mobile {
            width: 100%;
        }
    }

    .social {
        width: 35%;

        @include mobile {
            width: 100%;
        }
    }
}